
<div class="wrapper d-flex flex-column align-items-center">
  <h1 class="title">todos</h1>
  <div class="row justify-content-center w-100">
    <div class="todo-wrapper p-0 d-flex flex-column col-md-6 col-sm-8">
      <div class="app-header">
        <app-todo-header></app-todo-header>
      </div>

      <app-todo-list></app-todo-list>
      <app-todo-footer *ngIf="hasTodo$ |async"></app-todo-footer>
    </div>
  </div>
  <small class="instruction text-center">
    <em>Press Enter to add new todo, Press Arrow icon to toggle todos.</em>
    <br><br>
    Copyright TodosMVC Project
  </small>
</div>

